.verdeclaro {
    background: rgba(128, 255, 0, 0.308);
}
.verde {
    background: rgba(60, 119, 1, 0.555);
}
.verdeescuro {
    background: rgb(47, 92, 1);
}
.vermelhoclaro {
    background: rgba(253, 1, 1, 0.37);
}
.vermelho {
    background: rgba(253, 1, 1, 0.616);
}
.vermelhoescuro {
    background: rgb(80, 3, 3);
}